[Desktop Entry]
Version=1.0
Type=Application
Name=SFP-Master
Icon=/usr/share/pixmaps/SFP-Master.png
Exec=/usr/bin/SFP-Master
Path=/usr/bin/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=SFP-module programmer for CH341a devices
Comment[en]=SFP-module programmer for CH341a devices 
Comment[ru]=Программатор SFP-модулей для CH341a
Comment[it]=Programmatore di moduli SFP per CH341a
Comment[pt]=Programador de módulo SFP para dispositivos CH341a
Comment[de]=SFP-Modul-Programmierer für CH341a-Geräte
GenericName=SFP-module programmer for CH341a devices
GenericName[en]=SFP-module programmer for CH341a devices
GenericName[ru]=Программатор SFP-модулей для CH341a
GenericName[it]=Programmatore di moduli SFP per CH341a
GenericName[pt]=Programador de módulo SFP para dispositivos CH341a
GenericName[de]=SFP-Modul-Programmierer für CH341a-Geräte
Keywords=SFP;Programmer;CH341A;
Keywords[en]=SFP;Programmer;CH341A;
Keywords[ru]=SFP;Программатор;CH341A;
Keywords[it]=SFP;Programmatore;CH341A;
Keywords[pt]=SFP;Programador;CH341A;
Keywords[de]=SFP;Programmierer;CH341A;
